body {background-image: url(shattered.png);font-size:100%;}
h1 {color:black; font-size:3em;text-align:center-left;}
h2 {color:black;font-size:2.5em;}
p {font-size:1.5em; text-align:center-right;}

.time{text-align: left}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#footer {
    color:black;
    clear:both;
    text-align:right;
    padding:0.25em;
	
}
